.transparentcustom{
	background-color: transparent !important;
	text-transform: capitalize !important;
	color: #c1c1c1 !important;
	border: 1px solid #c1c1c1 !important;
	box-shadow: none !important;
}

.profileAvatarWrapper{
	border-bottom: 1px solid #c1c1c1 !important;
	padding-bottom: 15px;
}

.register .infoRightWrapper > .row:first-child{
	margin-bottom: 0px !important; 
}

.register .profileDotsWrapper > ul {
	list-style: none;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}
.register .profileDotsWrapper > ul > li{
	content: '&nspb;';
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	background-color: #00b3ff;
	margin-right: 8%;
}

.register .profileDotsWrapper > ul > li.active ~ li{
	background-color: #c1c1c1;
}

.register .profileInfoWrapper{
	border-bottom: 1px solid #c1c1c1;
}

.register .closeBtnWrapper{
	 	padding-top: 30px !important;
	 	padding-bottom: 30px !important;
	 	text-align: right;
}

.register .editLinkWrapper  a{
 		color: #c1c1c1;
}

.register .loginRedirectionLinks p{
	margin-top: 0px !important;
}

.register .closeBtnWrapper p > a {
		transition: all 0.4s ease;
 		padding: 7px 10px;
 		border-radius: 50%;
 		border: 1px solid #00b3ff;
 		color: #00b3ff;
 		font-size: 20px;
}

.register .closeBtnWrapper p > a:hover {
 		border: 1px solid #FFF;
 		color: #FFF;
 		background-color: #00b3ff;
}

.register.user > .container{
	height: 100%;
}

.register.user > .container > div{
	height: 100%;
}

.register.user .loginWrapper, .register .registrationWrapper{
	min-height: 500px !important;
}

.register.user, .register.newBackground{
	background-image: url('./img/bgRegister.png');
	background-repeat: no-repeat;
	background-size: 100% 125px;
	background-position: center top;
}


/*.register .profileDotsWrapper > ul > li:last-child{
	clear: both !important;
	background-color: transparent;
}*/
/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
 .register .imgAvatarWrapper p > img {
 	width: 40%;
 	height: auto;
 }
 .register .imgAvatarWrapper{
	 	text-align: center;
 }

 .register .closeBtnWrapper {
 	text-align: right;
 }

 .profileSelectRole  p {
 	text-align: center;
 } 

}

/* Small Devices, Tablets */
@media only screen and (min-width : 600px) {
	.register .imgAvatarWrapper p > img {
	 	width: 40%;
	 	height: auto;
	 }

	 .register .imgAvatarWrapper{
	 	text-align: center;
	 }

	 .register .closeBtnWrapper{
	 	padding-top: 30px !important;
	 	padding-bottom: 30px !important;
	 	text-align: right;
 	}

 	.register .closeBtnWrapper p > a {
 		padding: 7px 10px;
 		border-radius: 50%;
 		border: 1px solid #00b3ff;
 		color: #00b3ff;
 		font-size: 20px;
 	}	

 	.register .editLinkWrapper{
 		text-align: right;
 		
 	}

 	.register .editLinkWrapper  a{
 		color: #c1c1c1;
 	}

 	.register .profileInfoWrapper{
 		padding-top: 70px;
 	}


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.register .imgAvatarWrapper p > img {
	 	width: 20%;
	 	height: auto;
	 }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}